:root {
  --primary-color-lighter: rgba(0, 0, 0, 0.03);
  --primary-color: rgba(0, 0, 0, 0.1);
  --primary-color-darken: rgba(0, 0, 0, 0.6);
  --bg-color: #ffffff;
  --text-color: #000000;
  --head-text-color: rgba(0,0,0,0.4);
}


